

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    
}

@media screen and (min-width: 480px) {
    #form {
        width: 400px;
    }
}

@-webkit-keyframes animatebottom {
    0% {
        opacity: 0;
        margin-top: 500px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes animatebottom {
    0% {
        opacity: 0;
        margin-top: 500px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

input {
    color: rgb(8, 8, 8);
    margin: 5px;
    border-radius: 0px;
    border: 1px solid rgb(220, 221, 223);
    padding: 8px;
    background: rgb(255, 254, 255);
    transition-duration: .5s;
}

Input:Focus {
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(9, 9, 9);
}
/* .signin-link {
    cursor: pointer;
    border: none;
    background: #3d216b;
    color: rgb(247, 246, 248);
    padding: 11px 26px;
    border-radius: 5px;
    font-size: 16px;
    transition-duration: .1s;
} */

.signup-button button{
    display: block;
    /* width: 100%; */
    cursor: pointer;
    border: none;
    background: #3d216b;
    color: rgb(247, 246, 248);
    padding: 11px 26px;
    border-radius: 5px;
    font-size: 16px;
    transition-duration: .1s;
}

#input_login:hover {
    background-color: #574b90; /* สีเมื่อโฮเวอร์ */
}

#input_login:active {
    transform: translateY(2px); /* ขยับลงเมื่อคลิก */
}
/* button {
    cursor: pointer;
    border: none;
    background: #3d216b;
    color: rgb(247, 246, 248);
    padding: 11px 26px;
    border-radius: 5px;
    font-size: 16px;
    transition-duration: .1s;
} */

* {
    outline: none;
    user-select: none;
}
.form-select-custom {
    background-color: #f0f8ff;
    color: #000000;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 12px;
}

.form-select-custom:focus, 
.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
.custom-title-color {
    width: 90%;
    color: #141314;
    text-align: -webkit-center;
    font-size: 28px; 
}

#form {
    outline: 15px solid #4bbaed;
    margin: 200px;
    text-align: -webkit-center;
    background: rgb(252, 252, 255);
    /* background: url(/public/images/bg1.jpg); */
    padding: 60px 10px;
    border-top: 30px solid #f3f0f5;
    border-bottom: 300px solid #9a87a5;
    box-shadow: -1px 1px 20px rgba(190, 135, 216, 0.5);
    Border: none;
    outline: none;
    animation: animatebottom 1s cubic-bezier(1, -0.06, 0.26, 1.06);
    margin: 4.1em auto;
    align-items: center;
}

body {
    align-items: center;
    justify-content: center;
    user-select: none;
    background: url(/public/images/bg1.jpg);
    background-attachment: fixed;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    padding: 0px;
    margin: 0;
    color: #888;
    text-align: -webkit-center;
}
.signup-forget_password-link a {
    color: #060108;
    /* font-weight: bold; */
    text-decoration: none;
    font-size: 15px;
}

/* .modal .modal-content { */
.modal-content {
    outline: 15px solid #4bbaed;
    border-radius: 10px;
    text-align: -webkit-center;
    /* padding: 3px 10px; */
    background: url(./bg.jpg);
    background: rgb(104, 14, 14);
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-body {
    border-radius: 1px;
    display: block;
    background: rgb(248, 251, 255);
    width: 100%;
    padding: 8px;
    font-size: 17px;
    text-align: left;
    color: rgb(14, 13, 13);
}

footer {
    /* padding: 15px 15px;
    width: 800%;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: #fff;
    /* text-align: -webkit-center;
    color: #fff!important;
    border-radius: 50px;
    color: #a53535;
    background-color: rgba(255, 255, 255, 0.25); */
}

/* header h2 {
    width: 90%;
    Border: 5px dotted #9c76b4;
    color: #9c76b4;
    text-align: -webkit-center;
    border-radius: 5px;
}  */

